html {
    background-image: url('../resources/coffee\ shop\ background.jpeg');
    background-size: cover;
}
table#cookies-table.tbl {
    top: 200px;
    left: 300px;
    position: absolute;
    background-color: white;
}
#salmon {
    z-index: 1;
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
    position: fixed;
    left: -250px;
    top: 245px;
}
table{
    position: absolute;
    background-color: whitesmoke;
    right: 100px;
    border: 3px;

}
#shirt {
    position: absolute;
    right: 100px;
}
#family {
    position: absolute;
    right: 100px;
    top: 100px;
}
a.home{
    position: fixed;
    background-color: bisque;
    width: 150px;
    height: 25px;
    text-align: center;
    top: 100px;
    left: 100px;
    z-index: 2;
}
a.merch {
    position: fixed;
    background-color: bisque;
    width: 150px;
    height: 25px;
    text-align: center;
    top: 150px;
    left: 100px;
    z-index: 2;
}
a.aboutUs {
    position: fixed;
    background-color: bisque;
    width: 150px;
    height: 25px;
    text-align: center;
    top: 200px;
    left: 100px;
    z-index: 2;
}
a.sales {
    position: fixed;
    background-color: bisque;
    width: 150px;
    height: 25px;
    text-align: center;
    top: 250px;
    left: 100px;
    z-index: 2;
}
.welcome {
color: white;
position: absolute;
left: 50%;
}
footer {
    position: absolute;
    height: 100px;
    background-color: aliceblue;
}
